.auth-container{
    width: 1000px;
    margin: 0 auto;
}
.divider{
    border-bottom: var(--fb-border);
    margin: 26px 0;
    width: 100%;
}
.auth-area{
    background-color: var(--fb-bg);
    width: 100%;
    padding: 130px 0 134px;
    display: flex;
    align-items: center;
    justify-content: center;

    .auth-content{
        display: flex;

        .auth-left-side{
            padding-right: 32px;
            width: 580px;
            transform: translate(0, 35px);

            img{
                height: 106px;
                transform: translate(-28px, 13px);
            }
            h2{
                color: #1C1E21;
                font-family: "SFProDisplay-Regular";
                font-weight: normal;
                font-size: 30.2px;
                line-height: 32px;
                width: 95%;
            }
        }
        .auth-right-side{
            height: 456px;
            width: 396px;


            .auth-login-box{
                background-color: #fff;
                box-shadow: var(--fb-shadow);
                padding: 15px 15px 25px;
                border-radius: 10px;

                form{
                    display: flex;
                    gap: 13px;
                    flex-direction: column;

                    input{
                        font-size: 17px;
                        line-height: 16px;
                        font-family: "Helvetica";
                        font-weight: 400;
                        padding: 14px 16px;
                        border-radius: 6px;
                        border: var(--fb-border);
                        color: #1d2129;
                        transition: all .3s;

                        &::placeholder{
                            color: #90949C;
                        }
                        &:focus{
                            border: 1px solid var(--primary-color);
                            &::placeholder{
                                color: rgba(143, 147, 158, .7);
                            }
                        }
                    }
                    button{
                        background-color: var(--primary-color);
                        border: none;
                        font-family: "Helvetica";
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 48px;
                        padding: 0 16px;
                        color: #fff;
                        border-radius: 6px;
                        white-space: nowrap;
                        cursor: pointer;
                    }
                }
                .auth-reset-register{
                    text-align: center;

                    a{
                        margin-top: 16px;
                        display: block;
                        color: var(--primary-color);
                        font-size: 14px;
                        font-family: "Helvetica";
                        font-weight: 400;
                        line-height: 18.76px;
                        transition: all .3s;

                        &:hover{
                            text-decoration: underline;
                        }
                    }
                    button{
                        border: none;
                        border-radius: 6px;
                        font-size: 17px;
                        line-height: 48px;
                        padding: 0 16px;
                        background-color: #42b72a;
                        color: #fff;
                        font-family: "Helvetica";
                        transition: all .5s ease-in-out;

                        &:hover{
                            background-color: #36a420;
                            border-color: #36a420;
                        }
                    }
                }
            }

            p{
                font-size: 14px;
                text-align: center;
                line-height: 18.76px;
                margin: 28px 0px 0px;
                font-family: "Helvetica";
                font-weight: 400;

                a{
                    color: #1d2129;
                    font-weight: 700;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.auth-footer{
    padding-top: 30px;
    .auth-container{
        ul{
            display: flex;
            column-gap: 20px;
            row-gap: 6px;
            align-items: center;
            flex-wrap: wrap;

            li{
                color: #8a8d91;
                font-size: 12px;
                line-height: 16.08px;
                font-family: "Helvetica";
                font-weight: 400;

                a{
                    color: #8a8d91;
                }
            }
        }
        ul.language{
            column-gap: 10px;
            .language-icon{
                a{
                    width: 25px;
                    height: 25px;
                    background-color: var(--fb-bg);
                    line-height: 25px;
                    align-items: center !important;
                    display: flex;
                    justify-content: center;
                }
            }
        }
        .divider{
            margin: 10px 0;
        }
        p{
            color: #1d2129;
            font-size: 12px;
            padding-top: 20px;
        }
    }
}



.signup-form-area{
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;

        .input-divider{
            display: flex;
            column-gap: 10px;
        }
        input{
            padding: 11px;
            font-size: 15px;
            line-height: 16px;
            background: #f5f6f7;
            border: var(--fb-border);
            width: 100%;
            border-radius: 4px;
        }
        .date-of-birth{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;

            select{
                width: 33%;
                border: var(--fb-border);
                font-size: 15px;
                font-weight: normal;
                height: 36px;
                line-height: 20px;
                color: #1c1e21;
                border-radius: 4px;
                padding: 0 5px;
                font-family: "Helvetica";
                font-weight: 400;

                &:focus-visible{
                    outline: none;
                }
            }
        }
        .gender{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            padding-top: 8px;

            .gender-box{
                width: 33%;
                border: var(--fb-border);
                font-size: 15px;
                font-weight: normal;
                height: 36px;
                line-height: 20px;
                color: #1c1e21;
                border-radius: 4px;
                padding: 0 5px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-family: "Helvetica";
                font-weight: 400;
                
                label{
                    width: 95%;
                    padding: 7px 0;
                }

                input{
                    width: initial;
                }
            }
        }
        .select-fild-lable{
            p{
                font-size: 12px;
                color: #606770;
                line-height: 20px;
                margin: 2px 0px -5px;
                font-family: "SFProDisplay-Regular";

                a{
                    color: #1C1E21;
                }
            }
        }
        .signup-content{
            p{
                color: #777777;
                font-family: "Helvetica";
                font-weight: 400;
                font-size: 11px;
                line-height: 14.74px;
                margin: 11px 0px;

                a{
                    color: #385898;
                    &:hover{
                        text-decoration: underline;
                    }
                }

            }
        }
        .submit-btn{
            text-align: center;

            button{
                background-color: #00a400;
                border: none;
                border-radius: 6px;
                color: #fff;
                font-size: 18px;
                height: 36px;
                overflow: hidden;
                padding: 0 65px;
            }
           
        }
    }
}