
:root{
    --primary-color: #0866FF;
    --fb-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    --shadow-2 : 0 1px 2px rgba(0, 0, 0, 0.2);
    --fb-bg: #f0f2f5;
    --fb-divider: 1px solid #dadde1;
    --main-hover: rgba(0, 0, 0, 0.05);
    --fb-border: 1px solid #dddfe2;
    --secondary-icon: #65676b;
    --black-primary-icon: #050505;
}

/* Custom Font updates */
@font-face {
    font-family: 'Helvetica';
    src: url('./assets/fonts/Helvetica.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SFProDisplay-Regular';
    src: url('./assets/fonts/SF-Pro-Display-Regular.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Segoe';
    src: url('./assets/fonts/Segoe UI.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}



/* css reset code */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
ul{
    padding: 0;
    list-style: none;
}
button,
input[type="submit"]{
    outline: none;
    cursor: pointer;
}
input:focus,
textarea:focus{
    outline: none;
}
.sidebar-container{
    width: 360px;
}